@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --dark-gray: #1a2a32;
    --gray: #2e4756;
    --turquoise: #3cc4bf;
    --yellow: #f2b147;
    --light-grey: #d3d3d3;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    border: none;
}

.grid{
    display: grid;
    background-color: red;
}